<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Merchant</th>
        <th>Customer</th>
        <th>Channel Id</th>
        <th>Action</th>
        <th>OnChain</th>
        <th>TxUUID</th>
        <th>Timestamp</th>
        <th>Amount</th>
        <th>Item</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{this.id}}</td>
        <td>{{this.merchant}}</td>
        <td>{{this.customer}}</td>
        <td>{{this.channelId}}</td>
        <td>{{this.action}}</td>
        <td>{{this.on_chain}}</td>
        <td>{{this.tx_uuid}}</td>
        <td>{{this.timestamp}}</td>
        <td>{{this.amount}}</td>
        <td>{{this.item}}</td>
    </tr>
    </tbody>
</table>
